<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="user" class="spring.User">
	</bean>
	
	<alias name="user" alias="t_user" />
	
	<bean id="userService" class="spring.UserService">
		<property name="user" ref="t_user"></property>
	</bean>

</beans>